body
{
    h1{
        color: chocolate ;
        text-align: center;
        font-family: "Arial";
    }

    p{
        color: black ;
        text-align: initial;
        font-family: "Arial";  
    }
}